.main{
  text-align: center;
}
.main h2{
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Login form */

.input{
  text-align: center;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.input::placeholder{
  text-align: center;
}

.button{
  padding: 10px 80px;
}

.label{
  font-size: 16px;
  font-weight: bold;
  color: red;
}

/* Main App */

.h2app{
  margin-bottom: 0 !important;
}

.containerapp{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonapp{
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: gray;
  text-align: center;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.buttonapp:hover{
  background-color: rgb(182, 179, 179);
}

/* Info Section */
.info{
  margin-top: 15px;
}

/* OBS Desk */
.topdesk{
  width: 100%;
  background-color: rgb(40, 40, 40);
  padding: 20px 10px;
  display: inline-flex;
}

.topdesk h3{
  font-size: 22px;
  margin-right: 6px;
  cursor: pointer;
}

.topdesk button{
  margin-left: 1px;
  margin-right: 2px;
}

.topdesk select{
  margin-left: 5px;
}

.topdesk span{
  margin-left: 6px;
  margin-right: 6px;
  align-items: center;
}

.topdeskexit,
.topdesk span{
  display: inline-flex;
}

/* Live Deck */
.deck{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deckbox{
  width: 8rem;
  height: 8rem;
  background-color: rgb(63, 59, 59);
  border-radius: 12px;
  margin: 5px;
  text-align: center;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnaction{
  margin-right: 5px;
}
.btnaction_sel{
  margin-top: 15px;
  text-align: center;
  text-align-last: center;
}

.setcontainer{
  margin-top: 20px;
}

@media only screen and (max-width: 995px){
  .deckbox{
    width: 6rem;
    height: 6rem;  
  }
}

@media only screen and (max-width: 795px){
  .deckbox{
    width: 5rem;
    height: 5rem;  
  }
}

@media only screen and (max-width: 690px){
  .deckbox{
    width: 3.5rem;
    height: 3.5rem;  
  }
}